
article {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

/* Pattern styles */
  
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  object-fit: cover;
  left: 0px;
  width: 50%;
  height: 600px;
  background-image: url("../images/spaghetti1.jpg");
}

.right-half {
  background-color: #b6701e; /* #b6701e */
  position: absolute;
  right: 0px;
  width: 50%;
  height: 600px;
}